.columna-resultado{
    max-width: 10%;
}

ion-card{
    margin: 10px 20px 10px 20px; /* Espacio entre tarjetas */
    padding: 10px; /* Espacio interno de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
}
ion-card-title{
    align-self: center;
}
ion-content {
  height: 100%;
}
.result-container{
    height: 20%;
    align-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 80%; // Usa toda la altura de la pantalla
  padding: 16px;
  box-sizing: border-box;
}

.instruction{
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-top:0;

    
}


.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 0 10px 0;
  ion-title{
        font-size: 15px;
    }
}

.title-A {
  text-align: left;
  flex: 1;
}

.title-B {
  text-align: right;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.botones-container {
  flex: 1; // Ocupa todo el espacio restante
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.boton-inicio {
  height: 100%;
  width: 48%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}


.boton-saque {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.boton-undo {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.boton-A {
  background-color: #a8dadc; // Azul pastel
}

.boton-B {
  background-color: #f4a261; // Naranja pastel
}

.col-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col-container > div{
  margin-bottom: 5px;
}
