<app-topbar></app-topbar>
<ion-content>
  <ion-title class="jugadores-title">Players</ion-title>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Search bar a la izquierda -->
      <ion-col size="10">
        <ion-searchbar
          [debounce]="100"
          placeholder="search players..."
          [(ngModel)]="buscador"
          (ionInput)="filtrarPartidos($event)"
          animated
        ></ion-searchbar>
      </ion-col>

      <!-- Icono de filtro a la derecha -->
      <ion-col size="2" class="ion-text-end">
        
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <div class="jugadores">

  @if(jugadores.length > 0){
  <ng-container *ngFor = "let jugador of jugadores">
    @for (result of results; track result) {
      @if(jugador.Nombre == result){
        <ion-card class="jugador-card" color="light"  (click)="goToDetail(jugador.IdJugador)">
          <ion-grid>
            <ion-row class="ion-align-items-center">

              <ion-col size="4" class="foto-container">
                <ion-avatar>
                  <img [src]="'assets/images/' + jugador.Foto" alt="Foto de un jugador de tenis de la aplicación Breakpoint tennis tracker" />
                </ion-avatar>
              </ion-col>
              
              <ion-col size="6" class="info-linea">
                
                <div class="info-titulo">
                  <h2 class="nombre-jugador">{{ jugador.Nombre }}</h2>
                  @if( jugador.Genero ){
                    <ion-icon class="icon-genero female" name="female-outline"></ion-icon>
                  }@else{
                    <ion-icon class="icon-genero male" name="male-outline"></ion-icon>
                  }
                </div>

                <ion-row class="info-linea">
                  
                  <ion-col size="6">
                    <ion-icon name="accessibility-outline"></ion-icon>
                    <span>{{ jugador.Altura }} m</span>
                  </ion-col>

                  <ion-col size="6">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <span> {{ jugador.Edad }} yrs</span>
                  </ion-col>  
                
                </ion-row>  

              </ion-col>
                 
            </ion-row>
          </ion-grid>
        </ion-card>
      }
    }
  </ng-container>
}@else{
    <ion-card-content class="error-message">
      {{ error }}
    </ion-card-content>
}
</div>


</ion-content>
